.ms-card {
	border-color:#ff0000;
    .template-11 {

        .media {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            border-color:#ff0000;
        }
    }
}